<ion-header>
  <ion-navbar>
    <ion-title>{{'HIRED_SERVICES' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="noDatadiv" *ngIf="noData">
    <ion-icon name="ios-search-outline"></ion-icon>
    <p>{{'NO_DATA_FOUND' | translate}}</p>
  </div>
  <div (click)="profile(k.JobDetails.created_by.id,k.JobDetails.Id)" class="feed" *ngFor="let k of services">
    <ion-item no-lines no-pading class="name_item">
      <ion-avatar item-start>
        <img [src]="k.JobDetails.created_by.image">
      </ion-avatar>
      <h3>{{k.JobDetails.created_by.first_name}}&nbsp;{{k.JobDetails.created_by.last_name}}</h3>
      <p>{{k.JobDetails.created_at}}</p>
      <!-- <button ion-button small clear item-end no-padding (click)="openAction(k.JobDetails.Id);$event.stopPropagation()">
        <img src="assets/imgs/dots.png" style="width: 6px;">
      </button> -->
    </ion-item>

    <!-- <div class="filter_div" *ngIf="buttonClicked">
      <ion-list>
        <button (click)="report(k.JobDetails.Id);$event.stopPropagation()" ion-item no-padding no-lines>Report
          Post</button>
      </ion-list>
    </div> -->


    <ion-card class="card_feed">

      <img height="200" width="100%" [src]="k.JobDetails.images[0].name" style="object-fit: cover;">

      <ion-card-content>
        <ion-item no-lines no-padding class="info">
          <p>{{k.JobDetails.descriptions}}</p>
          <h3 item-end>${{k.JobDetails.price}}</h3>
        </ion-item>
      </ion-card-content>

      <ion-row padding-left>
        <ion-col no-padding>
          <!-- (click)="hire(k.JobDetails.created_by.id,k.JobDetails.Id,k.JobDetails.price)" -->
          <!-- <button *ngIf="k.JobDetails.isPayment==0" ion-button
            (click)="hire(k.JobDetails.created_by.id,k.JobDetails.Id,k.JobDetails.price);$event.stopPropagation()" small round class="btn-theme">Hire
            Now</button>
          <button *ngIf="k.JobDetails.isPayment==1" disabled style="opacity: 1 !important;" ion-button small round
            class="btn-theme">Already Hired</button> -->
          <!-- <button *ngIf="auth.getUserDetails().user_type==1" ion-button
            (click)="alert.show(translate.instant('ALERT'),'Coming Soon!');$event.stopPropagation()" small round
            class="btn-theme"> {{'MESSAGE' | translate}}</button>
          <button *ngIf="auth.getUserDetails().user_type==2" ion-button (click)="openHiredBy(k)" small round
            class="btn-theme">{{'HIRED_BY' | translate}}</button> -->
          <button (click)="postdetail(k.JobDetails.Id);$event.stopPropagation()" style="opacity: 1 !important;" ion-button small
            round class="btn-theme">{{'READ_MORE' | translate}}</button>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

</ion-content>