<ion-header>
  <ion-navbar>


    <ion-title>Service Detail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="detail">
    <ion-slides style="height: 200px !important;" [pager]="true" paginationType="fraction">
      <ion-slide *ngFor="let img of detail.images">
        <div class="swiper-zoom-container">
          <img style="object-fit: cover;height: 200px;width: 100%;" [src]="img.name" alt="">
        </div>
      </ion-slide>
    </ion-slides>

    <ion-item no-lines no-padding margin-top>
      <h3>{{'SERVICE_TITLE' | translate}}</h3>
      <p text-wrap text-capitalize>{{detail.title}}</p>
    </ion-item>

    <ion-item no-lines no-padding margin-top>
      <h3>{{'SERVICE_DESCRIPTION' | translate}}</h3>
      <p text-wrap text-capitalize>{{detail.descriptions}}</p>
    </ion-item>

    <ion-item no-lines no-padding margin-top>
      <h3>{{'SERVICE_TYPE' | translate}}</h3>
      <p text-wrap text-capitalize>{{detail.post_type}}</p>
    </ion-item>

    <ion-item no-lines no-padding margin-top *ngIf="detail?.category.length>0">
      <h3>{{'CATEGORY' | translate}}</h3>
      <p text-wrap text-capitalize> <span *ngFor="let item of detail.category">{{item.name}}</span>, </p>
    </ion-item>

    <ion-item no-lines no-padding margin-top>
      <h3>{{'PRICE' | translate}}</h3>
      <p text-wrap text-capitalize>${{detail.price}}</p>
    </ion-item>

    <ion-item no-lines no-padding margin-top *ngIf="auth.getUserDetails().user_type==1">
      <h3>{{'INFLU_SERVICE_FEE' | translate}}</h3>
      <p text-wrap text-capitalize>${{influServiceFee}} ({{influeServiceInPercent}}%)</p>
    </ion-item>

    <ion-item no-lines no-padding margin-top *ngIf="auth.getUserDetails().user_type==1">
      <h3>{{'YOU_NEED_PAY' | translate}}</h3>
      <p text-wrap text-capitalize>${{auth.getFloat(detail.price)+ auth.getFloat(influServiceFee)}}</p>
    </ion-item>

    <div text-center *ngIf="auth.getUserDetails().user_type==1">
      <button *ngIf="detail.isPayment==0"
        (click)="hire(detail,detail.created_by.id,detail.Id,auth.getFloat(detail.price)+ auth.getFloat(influServiceFee));$event.stopPropagation()"
        class="btn-theme" small ion-button>
        {{'BUY_NOW' | translate}}
      </button>
      <button *ngIf="detail.isPayment==1" (click)="details();$event.stopPropagation()" class="btn-theme" small
        ion-button>
        {{'MESSAGE' | translate}}
      </button>
    </div>
    <div text-center>
      <button *ngIf="hiredStatus==1" (click)="details();$event.stopPropagation()" class="btn-theme" small ion-button>
        {{'MESSAGE' | translate}}
      </button>
    </div>
  </div>


  <ion-row *ngIf="auth.getCurrentUserId()==detail?.created_by?.id">
    <ion-col col-auto>
      <button style="width: 63px;" (click)="edit(detail.Id)" ion-button round small class="btn-theme btn_view">{{'EDIT'
        |
        translate}}</button>
    </ion-col>
    <ion-col col-auto>
      <button ion-button round (click)="deleteJob(detail.Id)" small class="btn-theme btn_view">{{'DELETE' |
        translate}}</button>
    </ion-col>
  </ion-row>
</ion-content>